@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.get-in-touch .get-in-touch__title, .team .team__title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.get-in-touch .get-in-touch__title h3, .team .team__title h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 42px;
}
.get-in-touch .get-in-touch__title p, .team .team__title p {
  max-width: 500px;
  font-size: 16px;
  color: #4c4c4c;
}
.get-in-touch .get-in-touch__title::after, .team .team__title::after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 3px solid crimson;
  margin-top: 32px;
}

body {
  font-family: "$main-font-family", sans-serif;
  background-color: #f6f2f2;
}

body a {
  display: inline-block;
}
body .container {
  max-width: 1250px;
  margin: 0 auto;
}
body main {
  overflow: hidden;
}

header {
  padding-top: 32px;
}
header .header-content__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header .header-content {
  max-width: 1250px;
  margin: auto;
  background-color: #313030;
}
header a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}
header li {
  padding: 38px 24px 28px 24px;
}
header li:hover {
  background-color: #ff3f40;
  cursor: pointer;
}

.organaisation {
  margin: 0 auto;
  padding: 110px 0;
}

.organaisation .organaisation__items {
  display: flex;
  flex-wrap: wrap;
}
.organaisation .organaisation__items-left-item {
  width: 50%;
}
.organaisation .organaisation__items-left-item h2 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.organaisation .organaisation__items-left-item p {
  font-size: 16px;
  line-height: 28px;
  color: #494848;
  margin-bottom: 60px;
}
.organaisation .organaisation__items-left-item a {
  background-color: #ff2d2d;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  padding: 14px 61px;
  letter-spacing: 2px;
}
.organaisation .organaisation__items-left-item a:hover {
  background-color: #ff2d2dce;
}
.organaisation .organaisation__items-left-item a:active {
  background-color: #ff2d2d;
}
.organaisation .organaisation__items-right-item {
  width: 50%;
  padding: 24px 0 24px 48px;
}
.organaisation .organaisation__items-right-item iframe {
  width: 100%;
  box-shadow: 0 0 40px 25px #dddddd;
}

.service {
  margin: auto;
  padding: 110px 0;
  background-color: white;
}

.service {
  border-bottom: 1px solid grey;
}
.service .service__items {
  display: flex;
  flex-wrap: wrap;
}
.service .service__items-left-item {
  width: 50%;
  padding: 25px 128px 0 0;
}
.service .service__items-left-item h2 {
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.service .service__items-left-item p {
  font-size: 16px;
  line-height: 28px;
  color: #494848;
  margin-bottom: 60px;
}
.service .service__items-left-item a {
  background-color: white;
  text-decoration: none;
  color: #ff2d2d;
  font-size: 18px;
  border: 2px solid #ff2d2d;
  border-radius: 5px;
  text-align: center;
  padding: 14px 61px;
  letter-spacing: 2px;
}
.service .service__items-left-item a:hover {
  background-color: #ff2d2dce;
  color: white;
}
.service .service__items-left-item a:active {
  background-color: #ff2d2d;
  color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.service .service__items-right-item {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.service .service__items-right-item .service__items-card {
  width: 50%;
}
.service .service__items-right-item .service__items-card .service__items-card-img {
  padding: 0 24px 32px 0;
}
.service .service__items-right-item .service__items-card h3 {
  padding-bottom: 16px;
  color: #4c4c4c;
}
.service .service__items-right-item .service__items-card p {
  color: #4c4c4c;
  padding-bottom: 32px;
}

.products {
  background-color: white;
  padding: 110px 0;
}
.products .products-item .products__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.products .products-item .products__title h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 32px;
}
.products .products-item .products__title p {
  max-width: 500px;
  text-align: center;
  font-size: 16px;
  color: #4c4c4c;
}
.products .products-item .products__title::after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 3px solid crimson;
  margin: 24px auto;
}
.products .products-item ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.products .products-item ul li {
  padding: 0 32px;
  text-transform: uppercase;
}
.products .products-item ul li a {
  text-decoration: none;
  color: #4c4c4c;
  margin-bottom: 32px;
  font-weight: bold;
}
.products .products-item ul li a:hover {
  color: #ff2d2d;
}
.products .products-item .products__images {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
}
.products .products-item .products__images .products__images-img {
  background-color: #f5f0dd;
  height: 300.5px;
  margin: 0 6px 6px;
  width: 300.5px;
}

.team {
  padding: 90px 0;
  background-color: white;
}
.team .team__title {
  margin-bottom: 64px;
}
.team .team__items {
  display: flex;
  flex-wrap: wrap;
}
.team .team__items .team__items-left-card {
  width: 319.5px;
  margin-right: 70px;
}
.team .team__items .team__items-left-card .team__items-left-card-photo {
  background-color: #f5f0dd;
  width: 100%;
  max-height: 450px;
  height: 450px;
}
.team .team__items .team__items-right-card {
  width: 68%;
}
.team .team__items .team__items-right-card .team__items-right-card-title {
  margin-top: 32px;
}
.team .team__items .team__items-right-card .team__items-right-card-title h3 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
.team .team__items .team__items-right-card .team__items-right-card-title p {
  max-width: 620px;
  color: #7c7c7c;
  margin-bottom: 24px;
  line-height: 28px;
}
.team .team__items .team__items-right-card .team__items-right-card-title a {
  text-decoration: none;
  color: #333333;
  padding-right: 16px;
  margin-bottom: 32px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
}
.team .team__items .team__items-right-card .team__items-right-card-title a:hover {
  color: red;
}
.team .team__items .team__items-right-card .team__items-right-card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -6px;
}
.team .team__items .team__items-right-card .team__items-right-card-items .team__items-right-card-item {
  width: 25%;
  max-width: 200px;
  height: 312.5px;
  max-height: 210px;
  background-color: #f5f0dd;
}
.team .team__items .team__items-right-card .team__items-right-card-items .team__items-right-card-item:first-child {
  position: relative;
  width: 100%;
}
.team .team__items .team__items-right-card .team__items-right-card-items .team__items-right-card-item:first-child::after {
  content: "SOKINA JUE";
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 8px;
  height: 40px;
  color: white;
  background-color: #7a786e;
  bottom: 0;
}

.distribution {
  padding: 140px 0;
  background-color: #f5f0dd;
}
.distribution .distribution__title {
  text-align: center;
  margin-bottom: 64px;
}
.distribution .distribution__title h3 {
  font-size: 42px;
  font-weight: 700;
  color: white;
}
.distribution .distribution__title p {
  font-size: 16px;
  color: white;
}
.distribution .distribution__input-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.distribution .distribution__input-email .email__input {
  border: none;
  border-radius: 6px;
  padding: 32px 360px 32px 32px;
  margin-right: 32px;
  outline: none;
}
.distribution .distribution__input-email .email__button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 32px 60px;
  font-weight: 700;
  letter-spacing: 1px;
}
.distribution .distribution__input-email .email__button:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

.get-in-touch {
  padding: 110px 0;
  background-color: white;
}
.get-in-touch .get-in-touch__title {
  margin-bottom: 64px;
}
.get-in-touch .get-in-touch__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.get-in-touch .get-in-touch__items::after {
  content: "";
  position: absolute;
  background: #2d2d2d;
  width: 100vw;
  height: 100%;
  right: -100vw;
  top: 0;
}
.get-in-touch .get-in-touch__items .get-in-touch__contact-form {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.get-in-touch .get-in-touch__items .get-in-touch__contact-form form {
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.get-in-touch .get-in-touch__items .get-in-touch__contact-form form .form-text input {
  padding: 28px 200px 28px 54px;
  max-width: 340px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #e5e5e5;
  margin-bottom: 32px;
  outline: none;
  color: #444444;
}
.get-in-touch .get-in-touch__items .get-in-touch__contact-form form .form-message {
  width: 100%;
}
.get-in-touch .get-in-touch__items .get-in-touch__contact-form form .form-message textarea {
  height: 250px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 32px 54px;
  margin-bottom: 32px;
  resize: none;
  outline: none;
  color: #444444;
}
.get-in-touch .get-in-touch__items .get-in-touch__contact-form form .send-message {
  width: 100%;
}
.get-in-touch .get-in-touch__items .get-in-touch__contact-form form .send-message .button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 32px 0;
  outline: none;
  font-weight: 700;
}
.get-in-touch .get-in-touch__items .get-in-touch__contact-form form .send-message .button:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}
.get-in-touch .get-in-touch__items .contact-info {
  width: 30%;
  background-color: #2d2d2d;
  color: white;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.get-in-touch .get-in-touch__items .contact-info h3 {
  text-transform: uppercase;
  margin-bottom: 24px;
}
.get-in-touch .get-in-touch__items .contact-info p {
  max-width: 280px;
  margin-bottom: 16px;
}

footer {
  background-color: #313030;
  color: #afafaf;
}
footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-content .footer-content__text {
  font-size: 16px;
  padding: 42px 0;
}
footer .footer-content .footer-content__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .footer-content .footer-content__icons .footer-content__icons-img {
  padding-right: 24px;
}

/*# sourceMappingURL=style.css.map */
