.organaisation {
    @include bcg (#f6f2f2);

}

.organaisation {

    .organaisation__items {
        display: flex;
        flex-wrap: wrap;
    }

    .organaisation__items-left-item {
        width: 50%;


        h2 {
            font-size: 60px;
            line-height: 72px;
            margin-bottom: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            color: #494848;
            margin-bottom: 60px;
        }


        a {
            background-color: #ff2d2d;
            text-decoration: none;
            color: white;
            font-size: 18px;
            border-radius: 5px;
            text-align: center;
            padding: 14px 61px;
            letter-spacing: 2px;

            &:hover {
                background-color: #ff2d2dce;
            }

            &:active {
                background-color: #ff2d2d;
            }
        }
    }

    .organaisation__items-right-item {
        width: 50%;
        padding: 24px 0 24px 48px;

        iframe {
            width: 100%;
            box-shadow: 0 0 40px 25px rgba(221, 221, 221, 1);
        }
    }
}