%__title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    h3 {
        text-transform: uppercase;
        margin-bottom: 16px;
        font-size: 42px;
    }

    p {
        max-width: 500px;
        font-size: 16px;
        color: #4c4c4c;
    }

    &::after {
        content: "";
        display: block;
        width: 100px;
        border-bottom: 3px solid crimson;
        margin-top: 32px;

    }
}

%__button {
    a {
        border-radius: 6px;
        text-align: center;
        text-decoration: none;
        letter-spacing: 2px;
    }

    a:hover {
        cursor: pointer;
    }




}