$main-site-color: orange;
$secondary-site-color: blue;
$main-font-color: black;
$main-font-family: 'Open Sans';
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$main-font-family: "Open Sans", sans-serif; 
